@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kacie's Kitchen</h1>
    <p class="lead">Kacie's Kitchen is a web-based recipe book that can be used casually, for blogs, or in a professional setting.  This application can also be used to track costs and profit margins making it a great option
    as a professional inventory and recipe management system.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            After you've created an account, click here to start adding ingredients to your database! Ingredients need to be added before creating your recipe.
        </p>
        <button>@Html.ActionLink("Create New Ingredient", "Ingredient", "Create")</button>
    </div>
    <div class="col-md-4">
        <h2>Store Recipes</h2>
        <p>Once you have ingredients stored in your database, its time to start adding recipes! Click below to go to your recipe book.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View Recipes</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>This application can also be used to create products for sale. Assign products a recipe, and the application will track your costs for you!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Get Started Here</a></p>
    </div>
</div>