@model KaciesKitchen.Models.RecipeModels.IngredientListDict
@using KaciesKitchen.Data;

@{
    var ctx = new KaciesKitchen.Data.ApplicationDbContext();
    IEnumerable<Ingredient> ingredients = ctx.Ingredients; }

@using (Html.BeginForm())
            {
                <div>
                   
                </div>
            }

